PORT=
MONGODB_URI=

# Python Scraper Service
PYTHON_API_URL=

FRONTEND_URL=

# Groq AI
GROQ_API_KEY=

# Email
GMAIL_USER=
GMAIL_APP_PASSWORD=
FROM_NAME=

# App
BACKEND_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
GOOGLE_CALLBACK_URL=
SESSION_SECRET=